#menu{
  position:fixed;
  color:black;
  width: 100%;
  min-height: 60px;
}
#menu li{
  display: inline-block;
  float:left;

}
body{
  margin: 0;
  padding: 0;

  font-family: 'Charmonman', cursive;
}
header{
  height: 100vh;
  background-image: url("img/nature.jpg");
  background-size:cover;
  font-family: 'Charmonman';
}
header h1{
  color: black;
  text-align: center;
  padding-top: 100px;

}
#menu{
  position: fixed;
  width: 100%;
  min-height: 60px;
  top:0;
  background-color: #E6E6FA;
}
#menu li{
  list-style: none;
  display:inline;
  float: left;
  padding-right: 50px;
  font-size: 20px;
}
 #section1 p{font-size: 30px;}

p{
  padding:25px;
}
section{
  min-height:100vh;
  background-image:url("img/nature.jpg");
  background-size:cover;
}
p{font-size: 30px;}

#section2 p{
  font-size: 30px;
}
#section2{
  background-color:white;
}
#section2 h2{color:black;
}
#section3 p{font-size: 30px;}
#ouragan{
  color: white;
}
h2{
  text-align:center;
  padding-top: 25px;
}
footer{
  position: absolute;
  margin-bottom:0;
  width:100%;
  min-height:200px;
  background-color:black;
}
#paysage{
  width: 320px;
  border-radius: 1000px;
}
#poisson{width:320px;
border-radius: 1000px;}
#ouragan{width:320px;
border-radius: 1000px;}
#tortue{width: 320px;
border-radius: 1000px;}
#dauphin{width: 320px;
border-radius: 1000px;}
#mer{width: 320px;
border-radius: 1000px;}
#corail{width: 320px;
border-radius: 1000px;}
#newsua{width: 320px;
border-radius: 1000px;}
#volcan{width: 620px;}
}
